body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

nav {
  text-align: center;
  padding: 10px;
}


/* Denna har jag lagt till för att få en hover effekt på nav */
nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

nav a:hover {
  color: #aaa9a9;
  border-radius: 5px;
}

main {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #534848;
}

.container {
  display: flex;
  flex-direction: column;
  width: 900px;
}

.section {
  padding: 40px;
  background-color: #f1f1f1;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.section1 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.section1 img {
  width: 50%;
  height: auto;
  border-radius: 10px;
  
}

.section1 h2 {
  font-size: 2.5rem;
}


/* Minskar bilderna vid hover */
.section img:hover {
transform: scale(0.8);
}

.catGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.catGrid img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}


.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

/* Denna för 768px skärm (tex laptop) */
@media (max-width: 768px) {


  img[src="images/2.jpeg"] {
    width: 100%;  
    
  }

 
/* Denna tar bort vanliga nav delen i mobilläge */
  nav {
    display: none;
  }

  /* Lägger till hamburger delen */
  .hamburger {
    display: flex;
    font-size: 2rem;
    margin-right: 10px;
  
}
  /* Snyggar till övre delen (tex översta bilden) */
  .section1 {
    flex-direction: column;
    text-align: center;
  }

  .section1 img {
    width: 80%; 
    margin-bottom: 20px;
  }

  

  

 

 

  

  
}
